@{
    ViewData["Title"] = "Symbolische Haltestellenkarte";
}

<h2>@ViewData["Title"]</h2>
<div id="graph"></div>

<!-- D3.js laden -->
<script src="https://d3js.org/d3.v7.min.js"></script>

<!-- unser Script -->
<script src="~/js/nextskills_style_map.js"></script>
